body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    font-size: 18px;
    margin: 20px 0;
}
.highlight {
    font-weight: bold;
    color: hsl(0, 100%, 50%); 
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
